* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Sora', Helvetica, sans-serif;
}

body {
  font-family: sans-serif;
  height: 120vh;
  margin: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(61, 0, 242, 1) 92%);
}

.container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.working {
  background: rgb(27, 25, 25);
  background: linear-gradient(180deg, rgba(27, 25, 25, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(255, 0, 0, 1) 125%);
}

.hidden {
  display: none;
}

.pomodoro {
  position: relative;
  width: 400px; /* Aumente o tamanho do círculo */
  height: 400px; /* Aumente o tamanho do círculo */
  border-radius: 50%;
  border: 8px solid #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.pomodoro h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  position: absolute; /* Posicione o h2 fora do círculo */
  top: 20px; /* Ajuste a posição vertical */
  left: 50%;
  transform: translateX(-50%);
}

.pomodoro .timer {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-top: 41%;
}

.pomodoro .controls {
  display: flex;
  flex-direction: row; /* Exibir os botões em linha */
  align-items: center; /* Centralizar os botões verticalmente */
  justify-content: space-around; /* Espaço uniforme entre os botões */
  height: 10px; /* Defina a altura desejada para os botões */
  margin: -1rem 0;
  position: absolute; /* Posicionar os botões fora do círculo */
  bottom: -70px; /* Ajuste a posição vertical */
  left: 50%;
  transform: translateX(-50%);
}

.pomodoro button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  cursor: pointer;
  
}

.pomodoro button:hover{
  color: #fff;
  background-color: #000; 
  border: 1px solid #fff;
  
}
.pomodoro button:hover::before{
  /* color: #fff; */
  width: 100%;
  
}


/* .working .pomodoro button {
  background-color: black;
  color: #fff;
} */

.button_resting .timer {
  color: rgba(61, 0, 242, 1);
}

.button_working .timer {
  color: rgba(255, 0, 0, 1);
}

.pomodoro .datails {
  margin-top: 300px; /* Ajuste a margem para separar dos botões */
  
  color: #fff;
  text-align: center;
  
}
.pomodoro .datails p{
  /* color: #08b605; */
  margin-bottom: 10px;
}





.image img{
  animation: updown 3s linear infinite;
  max-width: 200px;
  height: auto;
  margin-left: -300px;
  
}
.image{
  
  height: 750px;
}
@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}